{% extends 'partials/base.html' %}

{% block title %}
  My bookings
{% endblock %}

{% block content %}
<div class="container">
  <h2 class="display-4">
    My Ticket Bookings
  </h2>
  <hr class="my-4">
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <ul class="list-group">
      {% for booking in bookings %}
      <form class="list-group-item d-flex justify-content-between align-items-center"
        method="post" action="bookings/cancel">
        <input type="hidden" name="booking_user" value="{{ booking.user.account_no }}">
        <input type="hidden" name="booking_showtime" value="{{ booking.showtime.id }}">
        <label class="text-justify"> {{ booking.showtime.movie.title }} </label>
        <time> {{ booking.showtime.start_time }} </time>
        <label class="text-justify"> {{ booking.showtime.theatre.complex.name }} </label>
        <button type="submit" class="btn btn-danger">Cancel Booking</button>
      </form>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
